body {
    background-image: url(../cracked.png);
    background-repeat: no-repeat;
}

.weather-container {
    background-color: azure;
    text-align: center;
}
.weather {
    font-size: 22px;
    margin: 0;
}
.temp {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}

ion-icon {
    color: azure;
    --ionicon-stroke-width: 80px;
}

.button-style {
    width: 15px;
    height: 15px;
    background-color: pink;
}