body {
    background-color: hotpink;
    font-family: 'Cyber', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input {
    text-align: center;
    margin: 100px 0;
}

input[type="text"] {
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-family: "cyber", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"] {
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: "cyber", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display-city {
    text-align: center;
    background: white;
    height: 200px;
    width: 750px;
    margin-bottom: 75px;
    border-color:blue;
}

.recent-search {
    background: white;
    height: 200px;
    width: 300px;
    margin-left: 50px;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.flex-container-two {
    display: flex;
    justify-content: space-evenly;
}

.card {
    text-align: center;
}